<html>
  <body>
    <div class="container-fluid header">
      <h1 class="title"  >Vyntra Mart</h1>

           <div class="navigationLinks">
               
            <ul class="nav ">  
              <li class="nav-item">
                   <a class="mainLink" routerLink="/home">Home</a>                                                  
              </li>                           
              <li class="nav-item">
                   <a class="mainLink" routerLink="/profilepage"y>{{parsedjsonUser.firstName}}</a>                                                  
              </li>
              <li class="nav-item">
                   <a class="mainLink"  routerLink="/deliverylocation">Delivery Location</a>                                                  
              </li>
              <li class="nav-item">
                   <a class="mainLink"  routerLink="/orders">Order Details</a>                                                  
              </li> 
              <li class="nav-item">
                   <a class="mainLink"  routerLink="/cart">Cart</a>                                                  
              </li> 
             <li class="nav-item">
                   <a class="mainLink" routerLink="['']" (click)="logout()">logout</a>                         
             </li>
        </ul>           
                           
           </div>

    </div>
 


<table id="prodDetail">
     <tr>
      
       <div id="all">
        <td>
         <div id="productImg">
             <img src="{{products.image}}" height="300px" width="300px">
         </div>
       </td>
       <td>
 <div id="table">
  <table> 
      <tr>
        <tr>
          <b><td>Name</td></b><td>&nbsp;&nbsp;{{products.pname}}</td>
        </tr>
        <tr>
        <b> <td>Price</td></b><td>&nbsp;&nbsp;${{products.price}}</td>
        </tr>
        <tr>
        <b><td>Offer</td></b><td>&nbsp;&nbsp;{{products.offer}}%</td>
        </tr>
        <tr>
        <b><td>Availability</td></b><td>&nbsp;&nbsp;{{products.availabilbity}}</td>
        </tr>
        <tr>
        <b><td>Description</td></b><td>&nbsp;&nbsp;{{products.description}}</td>
        </tr>
        
      <tr>
        <td><button class="btn btn-success" (click)="redirectToPayment(products)">Buy Now</button></td>
        <td><button class="btn btn-success" (click)="addToCart(products.pid)">Add to Cart</button></td>
      </tr>   
  </table>
</div>
</td>
</div>

</tr>
</table>

<div class="container text-center">  
  <h4 style="text-align: center;">Product Reviews</h4>
  <table class=".table" style="text-align:center" id="reviewTable">
    <th>Description</th>
    <th>Rating</th>
   <tr *ngFor="let r of review">
     <td>{{r.description}}</td>
     <td>{{r.rating}}</td>
   </tr>
  </table>
  <br>
  <br>
  <h4 style="text-align: center;">Add Review</h4>
  <br>
    <form name="form" #f="ngForm" novalidate style="text-align:center">
      <table style="text-align:center">
        <tr>
      <div class="form-group">
        <td><label for="description">Description:</label></td>
        <td><input type="text" required placeholder="Enter description" [(ngModel)]="reviewObj.description" name="description" #description="ngModel" class="form-control">
        </td>
      </div>
      
      <td><div *ngIf="description.invalid && (description.dirty || description.touched)"
        class="alert alert-danger">
    
      <div *ngIf="description.errors.required">
        <small class="text-danger">*description is required</small>
      </div>
      </div></td></tr>

      <tr>
        <div class="form-group">
          <td><label for="description">Rating:</label></td>
          <td>
            <input type="radio"  name="rating" autocomplete="name" value="1" [(ngModel)]="reviewObj.rating" #rating="ngModel" >1
            <input type="radio"  name="rating" autocomplete="name" value="2" [(ngModel)]="reviewObj.rating" #rating="ngModel" >2
            <input type="radio"  name="rating" autocomplete="name" value="3" [(ngModel)]="reviewObj.rating" #rating="ngModel" >3
            <input type="radio"  name="rating" autocomplete="name" value="4" [(ngModel)]="reviewObj.rating" #rating="ngModel" >4
            <input type="radio"  name="rating" autocomplete="name" value="5" [(ngModel)]="reviewObj.rating" #rating="ngModel" >5
        </td>
        </div>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-success"  (click)="addReview()">Save</button>
        </td>
      </tr>
      </table>
    </form>
  






</div>
</body>
</html> 
    